/*___Inventory___*/

    
.inventory_list {
  display: 					flex; /*https://youtu.be/5JSCbEKsguQ*/
  flex-flow: 				row wrap;
  justify-content: 	space-between;
}

.inventory_header {
  width: 						var(--inventoryHeader_w);
  height: 					var(--inventoryHeader_h);
  display: 					flex;
  justify-content: 	center;
  margin: 					0 auto 0 auto;
}

.inventory_header_content {
  height: 					100%;
  display: 					flex;
  align-items: 			center;
}

.inventory_header_content_name {
  color: 					var(--white_color);
  font-size: 			3rem;
  letter-spacing: 0.15rem;
  text-align: 		center;
  font-weight: 		700;
  display: 				inline-block;
}

.inventory_header_content_desc {
  color: 				var(--white_color);
  line-height: 	2rem;
  text-align: 	center;
}

