/*___Menu___*/

.menu {
	color: 						var(--white_color);
  box-sizing: 			border-box;
  position: 				fixed;
  top: 							0;
  width: 						var(--main_w);
  padding: 					var(--margin_w) var(--doubleMargin_w) 0 var(--doubleMargin_w);
  z-index: 					100;
	transition: 			background-color 0.2s linear;
	max-height: 			var(--menu_h);
	display: 					flex;
	justify-content: 	space-between;
}

.menu-scrolled {
	background-color: rgba(0, 0, 0, 0.5);
}

.menu_left .menu_item {
  float: 				left;
  margin-right: var(--margin_w);
}

.menu_right .menu_item {
  float: 				right;
  margin-left: 	var(--margin_w);
}

.menu_item {
  font-size: 	var(--base_txt);
  width: 			var(--doubleMargin_w);
  overflow-x: visible;
  cursor: 		pointer;
}

.menu_item:hover {
  color: var(--green_color);
}

.menu_item a {
  color: 					 inherit;
  text-decoration: none;
}

.menu_item_label {
  opacity: 0;
}

.menu_item:hover .menu_item_label {
  opacity: 		1;
  transition: opacity 0.3s ease-out;
}


.menu_right .menu_item_label {
  text-align: 	right;
  float: 				right;
  white-space: 	nowrap
}

.menu_item_icon {
  width: 					calc(3.6 * var(--col_w));
  height: 				calc(3.6 * var(--col_w));
  margin-bottom: 	calc(var(--halfMargin_w) / 3);
}   

.menu_backTo {
	font-size: var(--small_txt);
	text-align: center;
	min-width: calc(20 * var(--col_w));
}

.menu_backTo_label {
	margin-top: -6px;
	font-size: var(--large_txt);
}
