/*Text*/

/*___Menu___*/


/*___Inventory___*/

/*___Card___*/

/*__Chat__*/

/*__Message__*/
.txt_message_author {
  color: 				var(--grey_color);
  /*font-size: var(--base_txt);*/
  line-height: 	1.7rem;
}

.txt_message_content {
  /*font-size: var(--base_txt);*/
  line-height: 2rem;
}